<div class="container">
  <h2>Historique des ressources visualisées</h2>

  <ul>
    <% @links.each do |link| %>
      <li class="history-list"><%= link_to "#{link.url}", "#{link.url}" %></li>
    <% end %>
  </ul>
</div>
